[submodule "Carthage/Checkouts/Promise"]
	path = Issue Manager/Carthage/Checkouts/Promise
	url = https://github.com/timvermeulen/Promise.git
[submodule "Carthage/Checkouts/PullToExpand"]
	path = Issue Manager/Carthage/Checkouts/PullToExpand
	url = https://github.com/juliand665/PullToExpand.git
[submodule "Carthage/Checkouts/GRDB.swift"]
	path = Issue Manager/Carthage/Checkouts/GRDB.swift
	url = https://github.com/groue/GRDB.swift.git
[submodule "Carthage/Checkouts/SimplePDFKit"]
	path = Issue Manager/Carthage/Checkouts/SimplePDFKit
	url = https://github.com/mangelio/SimplePDFKit.git
